body{
    background-color: beige;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: aqua;
    display: block;
}
.navbar{
    background: rgb(135, 135, 172);
    color: azure;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    justify-content: center;
    
}

nav ul li{
    display: inline;
    margin-left: 20px;
    justify-content: center;
}
header{
    background-color: brown;
}