<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/css/boxicons.min.css">
    <link rel="shortcut icon" href="static/assets/fonts/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="static/assets/css/ouput.css">
    <script src="static/assets/js/htmx.min.js"></script>
    <title>Togo Tech Communities</title>
</head>

<body class="bg-white duration-300 overflow-x-hidden">
    <nav class="flex justify-between items-center p-3 border-b sticky top-0 bg-white dark:bg-gray-900 duration-300">
        <div>
            <a class="flex items-center font-bold lg:text-xl text-gray-800" href="{{url_for('home')}}">
                <span><img src="static/assets/fonts/icono.png" width="20" alt=""></span>
                <span class="ml-2 dark:text-white"><span
                        class="text-transparent bg-gradient-to-r from-red-600 to-blue-600 bg-clip-text">Togo</span> Tech
                    Communities</span>
            </a>
        </div>
        <ul class="flex items-center ">
            <li><button id="darkmode"
                    class="text-xl bg-gray-100 border h-8 w-8 rounded-full p-2 flex justify-center items-center duration-300"><i
                        class='bx bxs-chat' id="darkmodeicon"></i></button></li>
            <a href="{{url_for('addone') }}"
                class="flex ml-3 bg-gradient-to-r from-red-600 to-blue-600 text-white rounded-md font-semibold p-1 items-center hover:from-blue-600 hover:to-red-600 hover:duration-300 text-xs lg:text-lg">
                <span class="relative top-0.5 text-xl"><i class='bx bxl-github'></i></span>
                <span class="ml-1">Add one</span>
            </a>
        </ul>
    </nav>

    <main>

        <section class="flex flex-col items-center p-2 ">
            <div class="flex flex-col items-center text-4xl lg:text-6xl font-bold mt-10">
                <h1 class="text-gray-800 dark:text-white">Togo Tech</h1>
                <h1 class="mt-2 text-transparent bg-gradient-to-r from-red-600 to-blue-600 bg-clip-text">Communities
                </h1>
            </div>
            <p class="mt-5 text-gray-700 text-lg text-center dark:text-white">The place where you find all informations
                about all techs communities in Togo</p>
        </section>
        {%block communities %}
        <!-- all card -->
        {%endblock %}
        <section class="justify-center mt-5 p-5 lg:bottom-0  bg-white text-center duration-300 border-b">
            <h1 class="flex flex-col lg:flex-row items-center justify-center">
                <span class="text-gray-700">made by </span>
                <a href="www.linkedin.com/in/martin-agbo-ovolab" class="flex items-center ml-2">
                    <span>
                        <img src="" width="20" class="rounded-full" alt=""></span>
                    <span class="ml-2 font-semibold underline dark:text-white">AGBO Martin</span>
                </a>
            </h1>
        </section>

    </main>

    <script>
        function filterCards(category) {
            const cards = document.querySelectorAll('.card');
            if (category === 'all') {
                cards.forEach(card => {
                    card.style.display = 'block';
                });
            } else {
                cards.forEach(card => {
                    if (card.classList.contains(category)) {
                        card.style.display = 'block';
                    } else {
                        card.style.display = 'none';
                    }
                });
            }
        }
        // Affiche toutes les cartes par défaut
        filterCards('all');
    </script>
    <script src="static/assets/js/modal.js"></script>
</body>

</html>
